*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

}
.frame span{
    display: flex;
    align-items:center;
    justify-content: baseline;
    height: 5vw;
    /* background-color: red ; */
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    padding:0 5vw;
    /* transform: translatey(-3vw); */
}
.frame{
    cursor: pointer;
    overflow: hidden;
    height: 5vw;
    z-index: 2;
    /* background-color: yellow; */

}
#circle{
    z-index: 1;
    pointer-events: none;
    width: 3vw;
    height: 3vw;
    background-color: rgb(62, 13, 107);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 3);

}